.add-invoice-page {
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-invoice {
  text-align: center;
}

.add-invoice h4 {
  text-transform: uppercase;
  color: #afb3cc;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  padding-top: 10px;
}

.add-invoice p {
  color: #c6c7ce;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 25px;
}

.custom-table table tr:hover .invoice-action {
  opacity: 1;
}

.action-icon{
  position: absolute;
}

.action-icon .anticon {
  font-size: 22px;
  color: #999;
}

.custom-table table tr:hover .action-icon {
  opacity: 0;
}


.action-icon{
  position: absolute;
}

.action-icon .anticon {
  font-size: 22px;
  color: #999;
}

.custom-table table tr:hover .action-icon {
  opacity: 0;
}



.invoice-action {
  opacity: 0;
  transition: all 0.5s;
  display: flex;
  position: relative;
  z-index: 9;
}

.invoice-action span {
  padding: 0px 10px;
  font-size: 20px;
  cursor: pointer;
}

.invoice-action span.anticon-form {
  color: #807e7e;
}

.invoice-action span.anticon-delete {
  color: #f93b3b;
}

.invoice-list .custom-table table td span.inv {
  display: block;
  font-size: 10px;
}

.invoice-list .custom-table table th:nth-last-child(2) {
  width: 30%;
}

.page-header h1 img {
  margin-right: 10px;
}

.add-invoice-popup .ant-modal {
  width: 800px !important;
}

.add-invoice-popup .ant-btn-secondry,
.add-invoice-popup .ant-btn-secondry:hover,
.add-invoice-popup .ant-btn-secondry:focus {
  background: #fab52c;
  border: 1px solid #fab52c;
  color: #fff;
}

.add-invoice-popup .ant-btn-secondry span {
  color: #fff;
}

.add-invoice-popup .ant-btn-primary {
  max-width: 150px;
  width: 100%;
}

.note p {
  font-size: 11px;
  text-align: left;
}

.invoice-property-info h4 {
  color: #fab52c;
  text-transform: uppercase;
  font-size: 16px;
}

.invoice-property-info h4 img {
  margin-right: 5px;
  margin-top: -4px;
}

.invoice-property-info p {
  font-size: 13px;
  color: rgba(62, 63, 66, 0.5);
  max-width: 220px;
  line-height: 1.9;
  margin: 0;
  margin-left: 25px;
}

.invoice-owner-info p {
  font-size: 13px;
  color: rgba(62, 63, 66, 0.5);
  line-height: 1.9;
  text-align: right;
  margin: 0;
}

.client-info h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  padding-bottom: 15px;
}

.invoice-date h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  padding-bottom: 15px;
}

.invoice-border {
  padding: 20px 0px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: 20px;
}

.add-invoice-popup .ant-form-item-label label {
  font-size: 13px;
  text-transform: uppercase;
  height: auto;
  padding-bottom: 5px;
}

.add-invoice-popup .ant-picker-input > input {
  font-size: 12px;
}

.add-invoice-popup
  .ant-select-single
  .ant-select-selector
  .ant-select-selection-item,
.add-invoice-popup
  .ant-select-single
  .ant-select-selector
  .ant-select-selection-placeholder {
  padding: 0;
  line-height: 35px;
}

.additional-add-guest span {
  color: #fab52c;
}

.additional-add-guest {
  color: #fab52c;
  font-size: 13px;
  cursor: pointer;
}

.m-top-30 {
  margin-top: 30px;
}

.total-add h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 700;
}

.total-add {
  text-align: right;
}

.total-add span {
  margin-left: 25px;
}

.web-info {
  text-align: center;
  font-size: 12px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ddd;
}

.additional-fields {
  padding-top: 10px;
}

.additional-fields .ant-row.ant-form-item {
  margin-right: 10px;
}

.additional-fields .ant-input {
  font-size: 12px;
}

.invoice-date .ant-picker-suffix {
  color: rgb(250, 181, 44);
}

.invoice-date .ant-picker:hover,
.ant-picker-focused {
  border-right-width: 1px !important;
}

.label-hidden label {
  visibility: hidden;
}

.deleteicon img {
  margin-top: 20px;
}

.deleteicon {
  text-align: center;
}

.filter-invoice ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.filter-invoice ul li {
  background: #fff;
  margin: 20px 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.pagination {
  text-align: right;
  margin: 20px;
  display: flex;
  justify-content: flex-end;
}

.setting-icon {
  padding-top: 4px;
  padding-left: 10px;
}

.invoice-filter-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px;
}

.filter-icons ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.filter-icons li {
  background: #fff;
  margin: 0px 5px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border: 1px solid #ddd;
}

.cancel-icon img {
  vertical-align: sub;
  margin-right: 5px;
}

.cancel-icon {
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
}

.invoice-filter-box span {
  text-transform: uppercase;
  font-size: 13px;
}

.invoice-list .ant-checkbox-wrapper:hover .ant-checkbox-inner,
.invoice-list .ant-checkbox:hover .ant-checkbox-inner,
.invoice-list .ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #fab52c;
}

.invoice-list .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #fab52c;
  border-color: #fab52c;
}

.invoice-listing-page .ant-pagination-item a {
  color: #666 !important;
}

.custom-table table td .ant-checkbox-wrapper {
  margin-right: 5px;
}

.invoice-listing-page .ant-pagination-item:focus,
.invoice-listing-page .ant-pagination-item:hover {
  border-color: #fab52c;
}

.amount-field {
  max-width: 80px;
  border: 1px solid #eaeaea !important;
  padding: 8px 15px;
  min-height: 38px;
}

.amount-field p {
  margin: 0;
  line-height: 1.4;
  font-size: small;
}

.download-img {
  cursor: pointer;
}

.loader {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ffffff94;
}

.loader-box {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.loader img {
  max-width: 100px;
}

.print-btn, .pdf-btn {
  min-width: 120px!important;
  max-width: 120px!important;
}

.pdf-btn {
  background: transparent!important;
  border: 1px solid #d2d2d2!important;
}

.pdf-btn span {
  color: #333!important;
}

.print-btn img, .pdf-btn img {
  margin-right: 10px;
}

.delete-btn {
  background: transparent!important;
  border: 1px solid #FB4B56!important;
}

.delete-btn span {
  color: #FB4B56!important;
}

.invoice-date .ant-picker-suffix .anticon {
  font-size: 22px;
  position: relative;
  top: 2px;
}

.additional-fields .ant-form-item-explain {
  font-size: 10px;
}
.cross-btn {
  position: fixed;
  right: 10px;
  top: 20px;
}

.cross-btn .anticon {
  font-size: 20px;
  color: #999;
}

.amount-field p {
  flex-wrap: wrap;
  line-height: 1;
  font-size: 12px;
  }
  
  .amount-field {
  display: flex;
  overflow-x: auto;
  line-height: 1;
  }
  
  .amount-field::-webkit-scrollbar {
  width: 5px;
  }
  
  
  .amount-field::-webkit-scrollbar-track {
  background: #f1f1f1;
  }
  
  
  .amount-field::-webkit-scrollbar-thumb {
  background: #e8e8e8;
  }
  
  
  .amount-field::-webkit-scrollbar-thumb:hover {
  background: #f1f1f1;
  }














  
.invoice-filter .filter-box h2 {
  display: block;
  padding: 50px 20px;
  margin-bottom: 0px;
  font-size: 16px;
  color: #444;
  cursor: pointer;
}

.invoice-filter .filter-box form {
  padding: 20px 10px;
}

.invoice-filter .inline-form label {
  margin: 0px 10px;
}

.invoice-wrapper {
  display: flex;
}

.invoice-filter {
  overflow: hidden;
  background: #fff;
  width: 0;
  border-bottom: 1px solid #efefef;
  border-right: 1px solid #efefef;
  transition: all 0.5s;
  opacity: 0;

}

.invoice-wrapper-expand .invoice-filter {
  overflow: auto;
  width: 300px;
  border-bottom: 1px solid #efefef;
  border-right: 1px solid #efefef;
  transition: all 0.5s;
  opacity: 1;
  background: #fff;

}

.invoice-listing-page {
  width: calc(100% - 0px);
}

.invoice-wrapper-expand .invoice-listing-page {
  width: calc(100% - 300px);
}


.invoice-filter .ant-picker-input > input {
  padding: 5px 12px;
}

.invoice-filter .ant-picker {
  border: 1px solid #eaeaea;
}

.invoice-page-view .ant-layout-content{
  margin: 0!important;
  padding: 0!important;
}

.invoice-filter-button{
  padding-top: 50px;
}

.invoice-filter-button .ant-btn-primary {
  background: #7FBD34;
  border-color: #7FBD34;
}

.invoice-filter-checkbox{
  font-size: 12px;
  margin-bottom: 20px;
}

.invoice-filter .filter-box h2 img {
  margin-top: -4px;
}


.invoice-listing-page .page-header {
  padding-bottom: 0;
  padding: 20px;
}


.invoice-listing-page .page-header h1 {
  font-size: 20px;
}

.invoice-filter-section span.filter-title {
  color: #999;
  font-size: 14px;
  padding-bottom: 10px;
  display: block;
}

.invoice-filter .ant-form-item-label > label::after{
  display: none;
}


.invoice-list .ant-checkbox-wrapper {
  margin-right: 15px!important;
  }
  
  .setting-icon {
  display: none;
  }
  
  
  .invoice-wrapper-expand .invoice-filter{
  min-height: 100vh;
  }