.guest-table .custom-table table {
    width: 100%;
}

.guest-table .custom-table table {
    background: #fff;
}

.guest-table .custom-table table td {
    padding: 7px 17px;
    font-size: 12px;
    cursor: pointer;
}

.guest-table .custom-table table tr:hover td {
    background:  #efecec;
}

.guest-table .custom-table table tr {
border-left: none;
border-right: 1px solid #efecec;
}

.guest-table .custom-table table thead tr {
    border: none;
}


.guest-table .custom-table table th {
   
    font-size: 12px;
    line-height: 18px;
    color: rgba(62, 63, 66, 0.5);
    padding: 5px 5px;
}

.guest-table .custom-table table thead {
    background: #fbfbfc;
}

.guest-table .custom-table .ant-table table {
    border-collapse: collapse;
}

.guest-table .custom-table table th:last-child {
    width: 30%;
    text-align: right;
    padding: 10px 40px;
}

.guest-table .custom-table table tr td:last-child {
    text-align: right;
    padding: 10px 40px;
}


.guest-table .custom-table table tr:hover .edit-delete {
    opacity: 1;
}
.guest-table {
    margin-top: -5px;
}

.guest-list .page-header {
    padding-bottom: 0;
    padding-left: 20px;
    padding-top: 12px;
}


.guest-list .page-header h1 {
      /* font-size: 20px; */
      font-weight: 600;
      margin-bottom: 0;
      padding-bottom: 0;
      font-size: 18px;
      color: #3E3F42;
      line-height: 28px;
}

.guest-info-table h3 {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #3E3F42;
    margin-top: 5px;
}

.guest-info-table span {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: rgba(62, 63, 66, 0.7);
}

.guest-info-table p {
    margin: 0;
    font-size: 12px;
    line-height: 18px;
    color: rgba(62, 63, 66, 0.5);
}

.guest-info-table i {
    margin: 0px 5px;
    background: #b3b3b3;
    width: 5px;
    height: 5px;
    display: inline-block;
    border-radius: 100%;
}

.guest-info-table img {
    margin-right: 10px;
    vertical-align: unset;
}

.guest-contact-table p {
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    font-weight: 600;
    color: rgba(62, 63, 66, 0.7);
}
.guest-contact-table span {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
   color: rgba(62, 63, 66, 0.5);
}
.guest-spent-table p {
    margin: 0;
}

.edit-delete{
    opacity: 0;
}


.edit-delete .editimg {
    margin-right:20px;
   
}



.guest-modal.add-company-modal .ant-modal{
    width: 500px !important;
}


.invoice-filter-box{
    max-width: 500px;
}

.guest-list .invoice-filter-box {
    max-width: 450px;
}

.guest-list .filter-invoice ul li {
    margin: 15px 0px;
    margin-right: 15px;
    line-height: 36px;
    cursor: pointer;
}

.guest-info-table {
    display: flex;
    align-items: center;
}

.guest-checkbox {
    margin-right: 10px;
}

.ant-checkbox-checked .ant-checkbox-inner {
    background-color: #fab52c;
    border-color: #fab52c;
}

.ant-checkbox:hover .ant-checkbox-inner, .ant-checkbox-input:focus + .ant-checkbox-inner{
    border-color: #fab52c;
}

.cancel-icon {
    cursor: pointer;
}


.guest-list .filter-invoice, .guest-list .invoice-filter-box {
    padding: 0px 20px;
}

.guest-list .ant-table-pagination.ant-pagination {
    margin: 16px 20px;
}

.guest-filter .filter-box h2 {
    display: block;
    padding: 50px 20px;
    margin-bottom: 0px;
    font-size: 16px;
    color: #444;
    cursor: pointer;
}

.guest-filter .filter-box form {
    padding: 20px 20px;
}

.guest-filter .inline-form label {
    margin: 0px 10px;
}

.guest-wrapper {
    display: flex;
}

.guest-filter {
    overflow: hidden;
    background: #fff;
    width: 0;
    border-bottom: 1px solid #efefef;
    border-right: 1px solid #efefef;
    transition: all 0.5s;
    opacity: 0;

}

.guest-wrapper-expand .guest-filter {
    overflow: auto;
    width: 300px;
    border-bottom: 1px solid #efefef;
    border-right: 1px solid #efefef;
    transition: all 0.5s;
    opacity: 1;
    background: #fff;

}

.guest-list {
    width: calc(100% - 0px);
}

.guest-wrapper-expand .guest-list {
    width: calc(100% - 300px);
}


.guest-filter .ant-picker-input > input {
    padding: 5px 12px;
}

.guest-filter .ant-picker {
    border: 1px solid #eaeaea;
}

.guest-page-view .ant-layout-content{
    margin: 0!important;
    padding: 0!important;
}

.guest-filter-button{
    padding-top: 50px;
}

.guest-filter-button .ant-btn-primary {
    background: #7FBD34;
    border-color: #7FBD34;
}

.guest-filter-checkbox{
    font-size: 12px;
    margin-bottom: 20px;
}

.guest-filter .filter-box h2 img {
    margin-top: -4px;
}

/* .guest-table .custom-table table tr:hover {
  
    background-color:red ;
} */
.guest-modal button.ant-btn.ant-btn-primary {
    padding: 10px 60px;
}
.guest-info{
    text-transform: uppercase;
}
.guest-info img{
    margin-right: 5px;
}
.add-companymodal .clear-btn{
    display: flex;
    justify-content: space-between;
}
.site-layout .ant-layout-content {
    margin: 0!important;
    padding: 0!important;
}
.company-list table td {
    padding: 25px 17px!important;
}
.company-list .page-header{
    padding: 15px 20px 0px 22px!important;
}
.company-table .custom-table table td {
    font-size: 14px;
    line-height: 24px!important;
    color: #3E3F42;
    font-weight: 500;
}
.company-table .custom-table table th:last-child {
    width: 30%;
    text-align: right;
    padding: 10px 15px;
}