.login-page{
    background-image: linear-gradient(-180deg,#eee,#fbfbfb);
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.login-box {
    background-color: #fff;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    max-width: 600px;
    margin: 0px auto;
}

.login-box .gr-logo {
    max-width: 200px;
    margin: 0px auto;
    margin-bottom: 50px;
}

.login-box p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}

.btn-login-box {
    max-width: 305px;
    margin: 0px auto;
}

.login-box .btn-login {
    border-radius: 4px;
    background: #fab52c;
    color: #fff;
    border-color: #fab52c;
    border: none;
    padding: 12px 30px;
    display: block;
    margin: 0px auto;
}

.login-box .btn-login:hover, .login-box .btn-login:focus  {
    border-radius: 4px;
    background: #fab52c;
    color: #fff;
    border-color: #fab52c;
    text-decoration: none;
    outline: none;
}

.login-input .form-control {
    padding: 13px 20px;
    height: auto;
    max-width: 300px;
    font-size: 15px;
}

.login-input {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 305px;
    margin: 0px auto;
    margin-bottom: 20px;
}

.login-input span {
    padding-left: 10px;
}

















.domain-box {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 8px 14px 3px rgba(0,0,0,.05);
    overflow: hidden;
    padding-bottom: 3px;
    position: relative;
    max-width: 600px;
    padding: 50px 48px;
    margin: 0px auto;
    border-bottom: 3px solid #fab52c;
}

.domain-box .gr-logo {
    max-width: 200px;
    margin: 0px auto;
    margin-bottom: 50px;
}

.domain-box p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}

.domain-box .btn-login {
    border-radius: 4px;
    background: #fab52c;
    color: #fff;
    border-color: #fab52c;
    border: none;
    padding: 12px 30px;
    display: block;
}

.domain-box .btn-login:hover, .domain-box .btn-login:focus  {
    border-radius: 4px;
    background: #fab52c;
    color: #fff;
    border-color: #fab52c;
    text-decoration: none;
    outline: none;
}

.domain-input .form-control {
    padding: 13px 20px;
    height: auto;
    max-width: 400px;
    font-size: 15px;
    margin: 0px auto;
    padding-left: 50px;
}


.domain-input {
    position: relative;
    max-width: 400px;
    margin: 0px auto;
    margin-bottom: 20px;
}

.btn-box {
    display: flex;
    align-items: center;
    max-width: 400px;
    margin: 0px auto;
    justify-content: flex-start;
    text-align: left;
}

.btn-box a{
    padding-left: 10px;
    color: #9e9e9e;
    font-size: 14px;

}

.btn-box a:hover{
    color: #fab52c;
}

.domain-input img {
    width: 20px;
    position: absolute;
    left: 17px;
    top: 15px;
    opacity: .5;
}




.btn-login-box {
    max-width: 305px;
    margin: 0px auto;
}

.login-footer {
    max-width: 600px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}

.login-footer ul {
    width: 50%;
    padding: 0;
    list-style-type: none;
    display: flex;
    margin: 0;
}

.login-footer .footer-logo {
    width: 50%;
}

.login-footer ul li {
    padding-right: 15px;
}

.login-footer ul li a {
    color: #7d7c7c;
    font-size: 13px;
}


.login-footer ul li a:hover {
    color: #fab52c;
}


.login-footer .footer-logo img {
    max-width: 100px;
    display: block;
    float: right;
    filter: grayscale(1);
}


.login-footer .footer-logo a {
    display: block;
    text-align: right;
}