.create-booking-modal .ant-modal {
    top: 0;
    right: 0;
    transform: inherit!important;
    margin: 0;
    position: absolute;
    bottom: 0;
    padding: 0;
    width: 700px!important;
    
}

.ant-layout.ant-layout-has-sider > .ant-layout{
    overflow-x: unset!important;
}

.create-booking-modal .ant-modal-content {
    height: auto;
    min-height: 100vh;
}

.create-booking-modal .ant-modal-header {
    padding: 20px 25px;
    background: #fbfbfb;
    border-bottom: 2px solid #f0f0f0;

}

.create-booking-modal .ant-modal-title {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.create-booking-modal .ant-modal-footer{
    display: none;
}


.create-booking-modal .ant-btn, .create-booking-modal .ant-btn:hover, .create-booking-modal .ant-btn:focus {
    background: #7FBD34;
    border: #7FBD34;

}


.create-booking-modal .ant-picker-range{
    border: 1.5px solid #eaeaea;
    line-height: 2;
    width: 100%;
    padding: 6px 11px 6px;
}


.booking-list-conatiner {
    background: #fff;
    height: 100vh;
}


.booking-list-conatiner {
    background: #fff;
    height: 100vh;
}


.booking-list ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    max-width: 150px;
    margin: 0;
    font-size: 12px;
    color: #b5b5b5;
}

.booking-list p {
    font-size: 12px;
    font-weight: 500;
    margin: 0;
    padding-bottom: 5px;
    color: #b5b5b5;
}

.booking-list h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 5px;
}
.booking-list {
    padding: 20px;
    border-bottom: 1px solid #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detail-info span {
    display: block;
    text-align: center;
    font-size: 12px;
}

.booking-list span {
    color: #b5b5b5;
}

.detail-info .green-label {
    border: 1px solid #aef18c;
    border-radius: 30px;
    padding: 2px 15px;
    color: #aef18c;
    margin-top: 7px;
    font-size: 14px;
}



.guest-modal .ant-modal {
    top: 0;
    right: 0;
    transform: inherit!important;
    margin: 0;
    position: absolute;
    bottom: 0;
    padding: 0;
}

.guest-modal .ant-modal-content {
    height: auto;
    min-height: 100vh;
}

.guest-modal .ant-modal-header {
    padding: 20px 25px;
    background: #fbfbfb;
    border-bottom: 2px solid #f0f0f0;

}

.guest-modal .ant-modal-title {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.guest-modal .ant-modal-footer{
    display: none;
}

.guest-modal .ant-btn, .guest-modal .ant-btn:hover, .guest-modal .ant-btn:focus {
    background: transparent;
    border: 1px solid #d4d4d4;
   

}

.guest-modal .ant-btn span{
    color: #999;
}

.guest-modal .ant-btn-primary, .guest-modal .ant-btn-primary:hover, .guest-modal .ant-btn-primary:focus {
    background: #7FBD34;
    border: #7FBD34;
    border: 1px solid #7FBD34;

}

.guest-modal .ant-picker {
    border: 1.5px solid #eaeaea;
    line-height: 2;
    width: 100%;
    padding: 6px 11px 6px;
}

.guest-modal .ant-btn-primary span{
    color: #fff;
}


.bookin-footer {
    text-align: center;
    padding: 30px;
    background: #fff;
}

.bookin-footer ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.bookin-footer ul li {
    padding: 0px 10px;
    font-size: 22px;
    color: #b3b3b3;
}


.booking-details h3 {
    font-size: 25px;
}

.booking-details {
    padding: 0px 20px;
    max-width: 500px;
}

.booking-details h3 {
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}

.box-heading h3 {
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    text-transform: uppercase;
    color: #444;
}

.ant-dropdown-menu-item{
    font-size: 12px;
}

.booking-details ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
}

.booking-details ul li {
    padding-right: 10px;
    color: #999;
}

.booking-box {
    background: #fff;
    margin-top: 20px;
    border: 1px solid #ddd;
}

.booking-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #ddd;
}

.box-editing span.anticon {
    font-size: 20px;
    color: #999;
    margin-right: 20px;
}

.box-editing button.ant-btn {
    background: transparent;
    border: 1px solid #ddd;
    padding: 2px 20px;
    color: #333;
    font-size: 13px;
}

.box-editing button.ant-btn span.anticon {
    margin: 0;
    margin-left: 5px;
}

.box-editing button.ant-btn span {
    color: #999;
}

.box-editing {
    display: flex;
    align-items: center;
}


.booking-item {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px dashed #ddd;
}

.prorety-box p {
    margin: 0;
    color: #333;
}

.prorety-box span {
    text-transform: uppercase;
    font-size: 12px;
    color: #999;
}

.booking-box .booking-item:last-child {
    border-bottom: none;
}

.booking-item-one {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px dashed #ddd;
}

.prorety-box {
    width: 50%;
}

.booking-box .booking-item-one:last-child {
    border-bottom: none;
}
.booking-list.orange {
    border-left: 3px solid #fab52c;
    background: #fbfbfc;
}

.additionl-link{
    margin-top: 20px;
    display: block;
}

.filter-box {
    background: #fff;
}

.booking-filter .ant-picker-range {
    border: 1.5px solid #eaeaea;
    line-height: 2;
    padding: 6px 11px 6px;
}


.filter-box h2 {
    padding: 20px;
    border-bottom: 1px solid #efefef;
    text-transform: uppercase;
    color: #666;
    font-weight: 500;
    font-size: 22px;
    margin: 0;
}

.filter-box form {
    padding: 20px;
}

ul.filter-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
}

ul.filter-list li {
    display: flex;
    justify-content: space-between;
    padding: 12px 0px;
    align-items: center;
}

ul.filter-list li span span {
    margin-right: 7px;
}

.inline-form {
    display: flex;
    align-items: center;
}

.inline-form * {
    margin-right: 10px;
}

.inline-form input {
    width: 100px;
}

.filter-box .ant-form-item {
    margin-bottom: 15px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
margin: 0;
}



.booking-filter-box {
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booking-filter-box label {
    padding-right: 20px;
    font-size: 15px;
    color: #333;
}

.filter-item .ant-tag {
    border-radius: 2px;
    min-width: 60px;
    padding: 5px 10px;
    margin-bottom: 8px;
}



.create-booking-modal .ant-collapse {
    background: #fff;
}


.create-booking-modal .ant-collapse > .ant-collapse-item > .ant-collapse-header {
    padding: 15px 16px;
}


.create-booking-modal .ant-modal-body {
    padding: 0;
}


.create-booking-modal .ant-btn, .create-booking-modal .ant-btn:hover, .create-booking-modal .ant-btn:focus {
    background: transparent;
    border: 1px solid #d4d4d4;
   

}

.create-booking-modal .ant-btn span{
    color: #999;
}

.create-booking-modal .ant-btn-primary, .create-booking-modal .ant-btn-primary:hover, .create-booking-modal .ant-btn-primary:focus {
    background: #7FBD34;
    border: #7FBD34;
    border: 1px solid #7FBD34;

}

.create-booking-modal .ant-btn-primary span {
    color: #fff;
}





.accommodation .inline-form label {
    font-size: 11px;
    color: #333;
}

.accommodation .inline-form {
    text-align: right;
    margin-bottom: 10px;
    justify-content: flex-end;
    margin-top: 25px;
}

.accommodation .inline-form input {
    padding: 8px 5px!important;
    font-size: 11px;
    width: 60px;
}

.accommodation p {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 0;
}

.accommodation {
    background: rgba(147, 158, 185, 0.04);
}


.per-night {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.per-night span {
    text-transform: uppercase;
}

.per-night span.amnt {
    font-size: 20px;
    color: #000;
    font-weight: 500;
}

.srvice-amnt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    border-bottom: 1px dashed #000;
}

.srvice-amnt .additionl-link {
    margin: 0;
    padding: 20px 0px;
}

.amnt-total h4 {
    text-align: right;
    font-size: 22px;
    margin: 0;
}

.amnt-total {
    padding: 20px 20px;
    padding-bottom: 0;
}

.deposit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}

.deposit .inline-form {
    margin: 0;
}

.outstanding {
    padding: 20px 20px;
    text-align: right;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.outstanding label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
}

.outstanding label span {
    padding-left: 50px;
}

.filter-icon span {
    font-size: 20px;
    color: #999;
}

.filter-icon {
    border: 1px solid #ddd;
    padding: 8px 10px;
    line-height: 1;
}

.filter-select .ant-form-item-control-input-content {
    position: relative;
    background-color: #fff;
    border: 1.5px solid #eaeaea!important;
    border-radius: 0;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: 100%;
    height: 40px;
    padding: 0 11px;
    line-height: 40px;
}

.filter-select .ant-form-item-control-input-content a {
    width: 100%;
    display: block;
    text-align: right;
    color: #999;
}

.filter-select .ant-form-item-control-input-content a span {
    color: #c7c7c7;
}


.ant-form-item .add-notes textarea {
    height: 120px;
}

.additional-guest .ant-form-item-label > label {
    height: auto;
    text-transform: uppercase;
}

.addi-box {
    background: #f9f9f9;
    padding: 20px;
    margin-bottom: 10px;
    padding-left: 50px;
    position: relative;
}

.additional-guest .ant-row.ant-form-item {
    margin-bottom: 10px;
}

.additional-edit {
    text-align: right;
    padding: 0px 20px;
}

.additional-edit a {
    color: #636363!important;
}

.additional-edit a span {
    color: #1890ff;
}

.delete-data {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.additional-add a {
    color: #636363!important;
}

.additional-add a span {
    color: #1890ff;
}

.additional-add {
    padding: 15px 0px;
}

