.team-list .custom-table {
    margin-bottom: 55px;
}
.custom-table table {
    width: 100%;
}

.custom-table table {
    background: #fff;
}

.custom-table table td {
    padding: 12px 20px;
    border-top: 1px solid #efecec;
    border-bottom: 1px solid #efecec;
    
    cursor: pointer;
    font-size: 14px;
    color: #3E3F42;
    line-height: 22px;
}

.custom-table table tr:hover td {
    background: #fbfbfc;
}

.custom-table table tr {
border-left: 1px solid #efecec;
border-right: 1px solid #efecec;
}

.custom-table table thead tr {
    border: none;
}

/* .custom-table table tr:last-child td {
    border-bottom: none;
} */


.custom-table table th {
    padding: 10px 20px;
    font-weight: normal;
    /* color: #959598; */
    font-size: 12px;
    text-transform: uppercase;
    color: rgba(62, 63, 66, 0.5);
    line-height: 18px;
}
.custom-table table th:first-child {
  width: 23%;
}
.custom-table table th:last-child {
    width: 35%;
  }
.custom-table table thead {
    background: #fbfbfc;
}

.team-pic img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.team-property img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-left: -5px;
    border: 2px solid #fff;
}

.team-info {
    display: flex;
    align-items: center;
}

.team-pic {
    padding-right: 25px;
}

.team-title h5 {
       /* font-size: 15px; */
       margin: 0;
       font-size: 14px;
       line-height: 28px;
       font-weight: 700;
       color: #3E3F42;
}

.team-title span {
    font-size: 12px;
    color: #999;
}

.custom-table table tr:hover .team-action{
    opacity: 1;
}


.team-action{
    opacity: 0;
    transition: all 0.5s;
}

.team-action span {
    padding: 0px 10px;
    font-size: 20px;
    cursor: pointer;
}

.team-action span.anticon-form {
    color: #807e7e;
}

.team-action span.anticon-delete {
    color: #f93b3b;
}


.sub-user .ant-modal{
    max-width: 700px;
    width: 100%!important;
}


.custom-table.subuser-table table td {
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 18px;
    color: #3E3F42;
    text-transform: uppercase;
}
.custom-table.subuser-table table td:last-child {
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 15px;
    color: rgba(62, 63, 66, 0.5);
  text-transform: lowercase;
}
.desc{
    border: none;
    padding: 10px 20px;
    font-size: 12px;
    line-height: 15px;
    color: rgba(62, 63, 66, 0.5);
  text-transform: lowercase!important;
}
.custom-table.subuser-table table tr {
    border: none;
}

.custom-table.subuser-table table thead {
    border-top: 1px solid #e4e4e4;
    
}

.custom-table.subuser-table.border-bottom table thead {
    border-bottom: 1px solid #e4e4e4;
    
}

.custom-table.subuser-table table tbody{
    border-top: 1px solid #e4e4e4;
}


.custom-table.subuser-table table tr:hover td {
    background: #fff;
}

.custom-table.subuser-table thead tr th:first-child {
    width: 200px;
    font-size: 12px;
    color: #3E3F42;
    line-height: 18px;
}
.custom-table.subuser-table thead tr th:nth-child(2) {
    width: 70px;
}

.custom-table.subuser-table thead tr th:nth-child(3) {
    width: 75px;
}

.custom-table.subuser-table thead tr th {
    font-weight: 400;
    font-size: 12px;
}

/* 
.custom-table.subuser-table thead tr th {
    text-transform: inherit;
} */


.add-team-page {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.add-subuser {
    text-align: center;
}

.add-subuser h4 {
    text-transform: uppercase;
    color: #afb3cc;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    padding-top: 10px;
}

.add-subuser p {
    color: #c6c7ce;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 25px;
}
.cross-btn {
    position: fixed;
    right: 10px;
    top: 20px;
}

.cross-btn .anticon {
    font-size: 20px;
    color: #999;
}
.custom-table.subuser-table thead tr th:nth-child(4) {
    width: 100px;
}
.teampage{
    padding: 15px 20px 0px 0px!important;
}
.teampage button span{
    font-size: 14px;
line-height: 22px;
}
.teampage h1 {
      
    font-weight: 600;
    font-size: 18px;
    color: #3E3F42;
    line-height: 28px;
    margin-left: 20px;
}
.action{
    text-align: right;
}
.team-page-view .ant-layout-content {
    margin: 0!important;
    padding: 0!important;
}
.email{
    font-size: 14px;
    line-height: 18px;
    color: #3E3F42;
    font-weight: 600;
}
.readdata{
    font-size: 14px;
    line-height: 22px;
    color: #3E3F42;
    font-weight: normal;
}

.action-icon1 {
    position: relative;
    max-width: 445px;
    width: 100%;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    top: 10px;
}
/* .custom-table table tr:hover .action-icon1{
    opacity: 0;
} */
.custom-table table tr:hover .action-icon1{
    opacity: 0;
}
.subuser-fields-section .ant-form-item-label > label {
    /* color: #999!important; */
    font-size: 12px!important;
    line-height: 18px!important;
    text-transform: uppercase!important;
    color: rgba(62, 63, 66, 0.5)!important;
}
input#basic_email::placeholder {
    /* color: red; */
    color: #3E3F42;
    font-size: 12px;
line-height: 18px;
}
.subuser-fields-section button.ant-btn.ant-btn-primary {
    padding: 10px 60px;
}
.editimg{
margin-right: 20px;
}
