.channel-manager-content {
    display: flex;
}

.channel-manager-box {
    width: 200px;
    height: 200px;
    background: #fff;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 20px #13131305;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
    transition: all 1s;
    cursor: pointer;
}

.channel-manager-box:hover {
    box-shadow: 0px 20px 40px #1313131f;
}

.channel-manager-box a {
    color: #333!important;
    font-weight: 700;
    font-size: 25px;
}

.channel-booking {
    background: #fff;
    padding: 50px;
    box-shadow: 0px 10px 20px #13131305;
    border-radius: 5px;
    border: 1px solid #f1f1f1;
}

.steps-content {
    padding: 50px 0px;
}


.ant-steps:not(.ant-steps-dot):not(.ant-steps-navigation) .ant-steps-item .ant-steps-item-icon {
    left: 7px;
}

.ant-steps-item-content {
    display: block;
}

.channel-booking-content img {
    max-width: 100%;
    margin: 30px 0px;
}

.channel-booking-content h3 {
    font-weight: 700;
    font-size: 20px;
}

.channel-booking-content h2 {
    font-size: 30px;
    font-weight: 700;
}

.steps-action .ant-btn {
    background: #fff;
    border: 1px solid #ddd;
}

.steps-action .ant-btn.ant-btn-primary {
    background: #fab52c;
    border: #fab52c;
}

.steps-action .ant-btn span {
    color: #999;
}

.steps-action .ant-btn.ant-btn-primary span {
    color: #fff;
}

.channel-booking-form .ant-select-multiple .ant-select-selection-search {
    position: absolute;
    margin-left: 10px;
}

.channel-booking-form .ant-select-multiple .ant-select-selection-item {
    top: 40px;
}

.steps-action {
    padding-top: 50px;
    text-align: center;
}