.user-img {
    max-width: 100px;
    margin: 0px auto;
    position: relative;
    min-height: 100px;
}

.user-img .anticon-setting {
    position: absolute;
    bottom: 0;
    right: 5px;
    background: #fff;
    padding: 6px;
    border-radius: 100px;
    cursor: pointer;
}

.ant-dropdown-menu.setting-dropdown .anticon{
    margin-right: 3px;
}
.ant-dropdown-menu.setting-dropdown .anticon:first-child {
    margin-right: 3px;
}

.ant-dropdown-menu.setting-dropdown li:last-child {
    border-top: 1px solid #f3f3f3;
}

.user-profile img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
  
  .user-profile {
    text-align: center;
    padding: 20px 10px 10px;
    border-bottom: 1px solid #efefef;
    margin-bottom: 10px;
       
  }
  
  .user-profile h3 {font-weight: 700;margin: 0;padding-top: 10px;}
  
  .user-profile span {
      color: #999;
  }

  .ant-layout-sider-collapsed .user-profile img {
    width: 100%;
    max-height: 100px;
    height: auto;
}


.ant-layout-sider-collapsed .user-profile h3 {
    font-size: 13px;
}

.ant-layout-sider-collapsed .user-profile span {
    font-size: 10px;
}







.language .ant-btn, .language .ant-btn:hover, .language .ant-btn:focus {
    background: transparent;
    border: none;
    padding: 5px;
    box-shadow: none;
}

.language .ant-btn span {
    color: #999;
}

.language {
    margin-right: 25px;
}
.sb-avatar__text span {
    color: #fff !important
}