.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.page-header h1 {
    font-size: 24px;
}

.ant-btn {
    background: #fab52c;
    border: #fab52c;
    height: auto;
    padding: 10px 20px;
    font-size: 15px;
}

.ant-btn:hover, .ant-btn:focus {
    background: #fab52c;
    border: #fab52c;
}

.property-info {
    background: #fff;
    padding: 20px;
}


.property-info {
    background: #fff;
    padding: 20px;
    position: relative;
    border: 1px solid #efefef;
    margin-bottom: 30px;
}

.property img {
    width: 100%;
}

.property-info ul {
    list-style-type: none;
    padding: 0;
}

.property-info ul li {
    padding: 10px 0px;
}

.property-info span {
    position: absolute;
    right: 20px;
    top: 25px;
    font-size: 12px;
}
.property-info h3 {
    padding-bottom: 20px;
}


.property-info ul span {
    position: relative;
    top: inherit;
    right: inherit;
    font-size: 20px;
    color: #999;
    margin-right: 12px;
    vertical-align: top;
}

.page-header span {
    color: #e1e1e1;
}


.page-header span {
    color: #e1e1e1;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    padding-right: 40px;
    padding-left: 16px;
}


.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    right: 20px;
    left: inherit;
}

.ant-input {
    border: 1.5px solid #eaeaea!important;
    border-radius: 0;
    padding: 8px 15px!important;
    height: auto;
}

.main-info-form form {
    max-width: 500px;
}


.main-info-form .ant-btn {
    background: #7FBD34;
    color: #fff;
    border-color: #7FBD34;
    padding: 10px 50px;
}


.main-info-form p {
    font-size: 11px;
    padding-top: 5px;
}






.listing-info-form .ant-btn {
    background: #7FBD34;
    color: #fff;
    border-color: #7FBD34;
    padding: 10px 50px;
}



.listing-info-form .ant-checkbox-group-item {
    display: block;
    padding: 6px 0px;
}

.listing-info-form .ant-checkbox-group-item span {
    font-size: 13px;
}

.page-header .ant-btn a {
    color: #fff!important;
    font-size: 12px;
}







.channel-step {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    align-items: center;
}

.step-box {
    width: 20%;
    text-align: center;
    position: relative;
}

.step-box img {
    max-width: 50px;
}

.step-box span {
    display: block;
}

.active-channel h3 {
    font-size: 20px;
    font-weight: 600;
}

.active-channel p {
    font-size: 13px;
    line-height: 1.8;
    max-width: 700px;
}

.ant-btn a {
    color: #fff!important;
    font-size: 14px;
}

.need-help {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 20px;
}

.need-help p {
    margin: 0;
    line-height: 1.9;
}

.need-help button {
    margin-top: 10px;
}

.step-box::after {
    background: url(../../assets//images/arrow.png);
    content: "";
    width: 40px;
    height: 13px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -10px;
}

.channel-step .step-box:last-child::after{
    display: none;
}

.our-client img {
    width: 100%;
    margin-bottom: 16px;
}

.our-client {
    padding: 30px 0px;
}

.ant-btn span {
    color: #fff;
}

.group-modal .ant-modal {
    top: 0;
    right: 0;
    transform: inherit!important;
    margin: 0;
    position: absolute;
    bottom: 0;
    padding: 0;
}

.group-modal .ant-modal-content {
    height: auto;
    min-height: 100vh;
}

.group-modal .ant-modal-header {
    padding: 20px 25px;
    background: #fbfbfb;
    border-bottom: 2px solid #f0f0f0;

}

.group-modal .ant-modal-title {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.group-modal .ant-modal-footer{
    display: none;
}


.group-modal .ant-btn, .group-modal .ant-btn:hover, .group-modal .ant-btn:focus {
    background: #7FBD34;
    border: #7FBD34;

}
.user-avatar .ant-avatar {
    margin-right: 5px;
}






.help-modal .ant-modal {
    top: 0;
    right: 0;
    transform: inherit!important;
    margin: 0;
    position: absolute;
    bottom: 0;
    padding: 0;
}

.help-modal .ant-modal-content {
    height: auto;
    min-height: 100vh;
}

.help-modal .ant-modal-header {
    padding: 20px 25px;
    background: #fbfbfb;
    border-bottom: 2px solid #f0f0f0;

}

.help-modal .ant-modal-title {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.help-modal .ant-modal-footer{
    display: none;
}


.help-modal .ant-btn, .help-modal .ant-btn:hover, .help-modal .ant-btn:focus {
    background: #7FBD34;
    border: #7FBD34;

}

.modal-body h4 {
    color: #333;
    font-size: 16px;
    margin: 0;
    padding: 20px 0px;
}

.modal-body p {
    font-size: 13px;
}


.cleaning-button {
    display: flex;
    align-items: center;
}

.cleaning-button .user-avatar {
    padding-right: 20px;
}


.cleaning-group .ant-table tbody > tr > td{
    padding: 26px 16px;
}

.cleaning-group .ant-table tbody > tr > td a {
    color: #333!important;
}

.ant-tag {
    border-radius: 30px;
    min-width: 90px;
    text-align: center;
}

.ant-pagination-item-active:focus, .ant-pagination-item-active:hover {
    border-color: #fab52c!important;
}
.ant-pagination-item-active, .ant-pagination-item-active {
    border-color: #fab52c!important;
}








.task-modal .ant-modal {
    top: 0;
    right: 0;
    transform: inherit!important;
    margin: 0;
    position: absolute;
    bottom: 0;
    padding: 0;
}

.task-modal .ant-modal-content {
    height: auto;
    min-height: 100vh;
}

.task-modal .ant-modal-header {
    padding: 20px 25px;
    background: #fbfbfb;
    border-bottom: 2px solid #f0f0f0;

}

.task-modal .ant-modal-title {
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.task-modal .ant-modal-footer{
    display: none;
}


.task-modal .ant-btn, .task-modal .ant-btn:hover, .task-modal .ant-btn:focus {
    background: #7FBD34;
    border: #7FBD34;

}


.text-center{
    text-align: center;
}

.task-modal .ant-btn {
    margin-top: 150px;
}