.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.page-header h1 {
    font-size: 24px;
}

.ant-btn {
    background: #fab52c;
    border: #fab52c;
    height: auto;
    padding: 10px 20px;
    font-size: 15px;
}

.ant-btn:hover, .ant-btn:focus {
    background: #fab52c;
    border: #fab52c;
}

.property-info {
    background: #fff;
    padding: 20px;
}


.property-info {
    background: #fff;
    padding: 20px;
    position: relative;
    border: 1px solid #efefef;
    margin-bottom: 30px;
}

.property img {
    width: 100%;
}

.property-info ul {
    list-style-type: none;
    padding: 0;
}

.property-info ul li {
    padding: 10px 0px;
}

.property-info span {
    position: absolute;
    right: 20px;
    top: 30px;
    font-size: 12px;
}
.property-info h3 {
    padding-bottom: 20px;
}


.property-info ul span {
    position: relative;
    top: inherit;
    right: inherit;
    font-size: 20px;
    color: #999;
    margin-right: 12px;
    vertical-align: top;
}

.page-header span {
    color: #e1e1e1;
}


.page-header span {
    color: #e1e1e1;
}

.ant-collapse > .ant-collapse-item > .ant-collapse-header {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    padding-right: 40px;
    padding-left: 16px;
}


.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    right: 20px;
    left: inherit;
}

.ant-input {
    border: 1.5px solid #eaeaea!important;
    border-radius: 0;
    padding: 8px 15px!important;
    height: auto;
}

.main-info-form form {
    max-width: 500px;
}


.main-info-form .ant-btn {
    background: #7FBD34;
    color: #fff;
    border-color: #7FBD34;
    padding: 10px 50px;
}


.main-info-form p {
    font-size: 11px;
    padding-top: 5px;
}






.listing-info-form .ant-btn {
    background: #7FBD34;
    color: #fff;
    border-color: #7FBD34;
    padding: 10px 50px;
}



.listing-info-form .ant-checkbox-group-item {
    display: block;
    padding: 6px 0px;
}

.listing-info-form .ant-checkbox-group-item span {
    font-size: 13px;
}

.page-header .ant-btn a {
    color: #fff!important;
    font-size: 12px;
}

