@import "https://fonts.googleapis.com/css?family=Poppins:300,400,600&display=swap";

body {
  margin: 0;
  background: #fbfbfc!important;
  font-family: 'Poppins', sans-serif!important;
  width: 100%!important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: #fab52c!important;
  text-decoration: none!important;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
  background-color: #fab52c!important;
  border-color: #fab52c!important;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
  box-shadow: none!important;
}