

.clean-filter {
    padding-top: 30px;
}


.ant-btn.border-btn {
    background: transparent;
    border: 1px solid #c1c1c1;
    padding: 9px 20px;
  }
  
  .ant-btn.border-btn span {
    color: #999;
  }
  

  .filter-box form {
    padding: 0;
}


.filter-box h2 {
    display: none;
}


.search-content .ant-input {
    border: none!important;
}

.search-content {
    padding: 0px 10px;
    margin-top: -15px;
    display: none;
}

.search-content .ant-input-affix-wrapper {
    border: none;
}

.apexcharts-menu {
    min-width: 130px!important;
}

.ant-dropdown-menu.setting-dropdown {
    margin-left: 68px;
}





/********************Sidebar Menu **************/


.ant-menu .ant-menu-item, .ant-menu .ant-menu-submenu {
    position: relative;
}



.booking-page-view .ant-menu .booking-nav,
.calendar-page-view .ant-menu .calendar-nav,
.team-page-view .ant-menu .team-nav,
.stats-page-view .ant-menu .stats-nav,
.property-page-view .ant-menu .property-nav,
.owner-page-view .ant-menu .owner-nav,
.invoice-page-view .ant-menu .invoice-nav,
.service-page-view .ant-menu .service-nav,
.task-page-view .ant-menu .task-nav,
.unit-page-view .ant-menu .unit-nav,
.channel-page-view .ant-menu .channel-nav,
.group-page-view .ant-menu .group-nav,
.detail-page-view .ant-menu .detail-nav   {
    background-color: #fffaf0!important;
}

.booking-page-view .ant-menu .booking-nav a,
.calendar-page-view .ant-menu .calendar-nav a,
.team-page-view .ant-menu .team-nav a,
.stats-page-view .ant-menu .stats-nav a,
.property-page-view .ant-menu .property-nav a,
.owner-page-view .ant-menu .owner-nav a,
.invoice-page-view .ant-menu .invoice-nav a,
.service-page-view .ant-menu .service-nav a,
.task-page-view .ant-menu .task-nav a,
.unit-page-view .ant-menu .unit-nav a,
.channel-page-view .ant-menu .channel-nav a,
.group-page-view .ant-menu .group-nav a,
.detail-page-view .ant-menu .detail-nav a  {
    color: #fab52c!important;
}


.booking-page-view .ant-menu .booking-nav:before,
.calendar-page-view .ant-menu .calendar-nav:before,
.team-page-view .ant-menu .team-nav:before,
.stats-page-view .ant-menu .stats-nav:before,
.property-page-view .ant-menu .property-nav:before,
.owner-page-view .ant-menu .owner-nav:before,
.invoice-page-view .ant-menu .invoice-nav:before,
.service-page-view .ant-menu .service-nav:before,
.task-page-view .ant-menu .task-nav:before,
.unit-page-view .ant-menu .unit-nav:before,
.channel-page-view .ant-menu .channel-nav:before,
.group-page-view .ant-menu .group-nav:before,
.detail-page-view .ant-menu .detail-nav:before {
    content: "";
    position: absolute;
    width: 3px;
    height: 100%;
    left: 0;
    background: #fab52c;
}









/******************************************************************************************************/

                                /*********** Media Query ***********/   

/******************************************************************************************************/









@media screen and (max-width:767px){


    /*********** Global ***********/   
    
    
    .profile-container .ant-collapse-header {
        display: block;
    }
    
    .wrapper .side-menu {
        width: 0!important;
        flex: 0!important;
        max-width: 0!important;
        min-width: 0!important;
        opacity: 0;
        position: absolute;
        top: -1px;
    }
    
    .wrapper .ant-layout.ant-layout-has-sider > .ant-layout {
        width: calc(100% - 0px);
    }
    
    
    .header-property .ant-dropdown-link {
        display: none;
    }
    
    .ant-btn.menu-btn {
        display: block;
        top:12px;
    }

    .ant-layout-header {
        height: auto;
    }
    
    .search-box {
        padding-right: 20px;
    }

    .search-content.search-expand {
        display: block;
        width: 100%;
    }

    .search-content .ant-input-suffix {
        right: 10px;
        top: 13px;
    }  

    .search-content .ant-input-affix-wrapper:focus {
        box-shadow: none;
        outline: none;
    }
    
    .search-content .anticon {
        font-size: 20px;
        color: #d6d6d6;
        cursor: pointer;
    }
    
    .header-property {
        padding-right: 0;
        max-width: 100%;
        width: 100%;
        flex-wrap: wrap;
    }
    
    .language {
        display: none;
    }
    
    
    .wrapper.wrapper-expand .side-menu {
        width: 200px!important;
        flex: 0 0 200px!important;
        max-width: 200px!important;
        min-width: 200px!important;
        opacity: 1;
    }
    
    .wrapper.wrapper-expand .ant-layout.ant-layout-has-sider > .ant-layout {
        width: calc(100% - 200px);
    }
    
    .sidebar-logo .logo{
        display: none;
    }
    
    .close-icon{
        display: block;
        width: 18px!important;
        cursor: pointer;
    }
    
    .wrapper.wrapper-expand .side-menu{
        z-index: 9;
    }
    
    .sidebar-logo {
        text-align: left;
        border-bottom: none;
        min-height: auto;
    }
    
    .site-layout .ant-layout-content.site-layout-background{
        margin: 0!important;
    }
    
    
    .mobile-logo{
        display: block;
        position: absolute;
        left: 50%;
        top: 0px;
        transform: translateX(-50%);
    }
    
    .web-property{
        display: none;
    }
    
    .property-mbl{
        display: inline-block;
        padding-right: 20px;
    }
    
    .search-box span {
       font-size: 22px;
       position: relative;
       top: 4px;
    }
    
    .ant-modal {
        max-width: calc(100vw - 0px);
    }
    

    /*********** Login, Register, Forget ***********/

    .login-form {
        padding: 50px 30px;

    }

    .register-form {
        padding: 50px 30px;
    }

    .forget-form {
        padding: 50px 30px;
    }
    
    /*********** Booking ***********/
    
    
    .booking .ant-col-10, .booking .ant-col-14{
        display: block;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    
    .create-booking-modal .ant-modal{
        width: auto!important;
    }
    
    
    .create-booking-modal .ant-col-12, .create-booking-modal .ant-col-8, .create-booking-modal .ant-col-16 {
        display: block;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    
    .create-booking-modal .ant-row.ant-form-item {
        padding-right: 0!important;
    }
    
    .create-booking-modal .ant-modal-body {
        padding: 15px 0px;
    }
    
    
    
    
    /*********** Property ***********/
    
    .listing-info-form [class*= ant-col-] {
        display: block;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    
    
    .listing-info-form .ant-form-item-label > label {
        color: #000!important;
    }
    
    .main-info-form .ant-col-8 {
        display: block;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
          
    .panel-container .ant-collapse > .ant-collapse-item > .ant-collapse-header {
        padding-left: 20px;
    }    
    
    
    /************ Unit Type **************/

    .panel-box.units.editunit .group-action {
        width: 50%;
    }


     /************ Group **************/

    .group-modal .ant-picker{
        padding: 8px 11px 8px;
    }


    /************ Cleaning Group **************/

    .cleaning-group .page-header {
        flex-wrap: wrap;
    }

    .cleaning-button {
        justify-content: space-between;
        padding-top: 20px;
    }

    .clean-filter {
        padding-top: 50px;
    }
    
    .clean-filter .ant-col-12 {
        display: block;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .cleaning-group .ant-picker{
        padding: 8px 11px 8px;
    }


/************ Channel Manager **************/


    .our-client .ant-col-6 {
        display: block;
        -ms-flex: 0 0 33.33333333%;
        flex: 0 0 33.33333333%;
        max-width: 33.33333333%;
    }

    .step-box {
        width: 100%;
        display: flex;
        align-items: center;
        padding-bottom: 30px;
    }

    .channel-step {
        flex-wrap: wrap;
        padding-bottom: 0;
    }

    .step-box span{
        padding-left: 15px;
    }

    .step-box::after {
        width: 30px;
        height: 9px;
        right: inherit;
        top: 50%;
        transform: rotate(90deg);
        margin-top: 15px;
        left: 5px;
    }

    .step-box img {
        max-width: 40px;
    }
    


    /************ Profile **************/
    .profile-container .ant-col-12 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }


 /************ Property List **************/
    .property-listing .ant-col-8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }



 /************  Stats**************/


    .stats-page .ant-col-16, .stats-page .ant-col-8, .stats-page .ant-col-24 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    }